.about-page {
    p {
        text-indent: 2rem;
    }
}

.about-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    .about-image-container {
        width: 200px;
        overflow: hidden;
        text-align: center;
        border-radius: 10px;
        opacity: 0;
        transform: translateY(-100%) rotate(0);
        transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s ease-in;

        &.display-about-image {
            opacity: 1;
            transform: translateY(0) rotate(10deg);
            &:hover {
                transform: translateY(0) rotate(5deg);
            }
            &:nth-child(even) {
                transform: translateY(0) rotate(-10deg);
                &:hover {
                    transform: translateY(0) rotate(-5deg);
                }
            }
        }

        img {
            display: inline-block;
            width: 300px;
            margin-left: -50px;;
        }
    }
}

@media (max-width: 768px) {
    .about-images {
        .about-image-container {
            width: 100px;
            img {
                width: 150px;
                margin-left: -50px;;
            }
        }
    }
}