.app {
  .content {
    margin-left: 250px;
    padding: 20px 40px;
    width: calc(100% - 350px);
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .app .content {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
}
